* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    gap: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(5, 5, 5);
    min-height: 100vh;
    line-height: 1.5;
    color: white;
}

/* imagem usada no blur */

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* Efeito de blur no fundo*/

.blur {
    height: 0;
    width: 20rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 500px 23px white;
    rotate: -30deg;
    z-index: -1;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    max-width: 100%;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    z-index: 999;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(98, 102, 102);
    text-decoration: overline;
}

/* Conteudo principal */

main {
    grid-area: main;
    max-width: 100%;
    display: flex;
    padding: 2rem 0;
}

/* Todo o conteudo */

.conteudo { 
    z-index: 999;
    padding: 2rem;
}

.conteudo h1 {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.descricao {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: grey;
}

/* Foto do gatito com joinha chorando */

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(56, 55, 55);
    position: absolute;
    top: 150px;
    left: 62%;
    z-index: 1;
}

/* Rodapé */

footer {
    grid-area: footer;
    max-width: 100%;
    color: white;
    padding: 1rem;
    text-align: center;
    background-color: #000000; /* Fundo consistente */
}

footer a {
    color: rgb(11, 188, 233);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}